// page
.page {
  z-index: 2000;
  &-header {
    &-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 12px;
    }
  }
  &-body {
    &-spacer {
      &-header {
        height: 51px; //measure
      }
      &-footer {
        height: 73px; //measure
      }
    }
  }
}

.q-footer {
  z-index: 3000;
}


// page nudger
.q-layout:not(.ios-browser-swiping-back) {
  .page-nudger {
    transition: transform 0.4s;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0);
      transition: background 0.4s;
      z-index: 2000;
      pointer-events: none;
    }
    &.nudge-left {
      transform: translateX(-60px);
      &:after {
        background: rgba(0,0,0,0.15);
      }
    }
  }
}

// transitions
.slideInRight, .slideOutRight {
  //for all browsers
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
