// page

.page {
  z-index: 2000;
  &-body {
    &-spacer {
      &-header {
        height: 51px; //measure
      }
      &-footer {
        height: 73px; //measure
      }
    }
  }
}

.q-footer {
  z-index: 3000;
}

